.header {
  padding-inline: 3rem;
  background-color: black;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;

      li {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;

        list-style: none;
        cursor: pointer;
      }

      button {
        width: 8rem;
        height: 2.2rem;
        background-color: #42ef9c;
        color: #000;
        border: none;
        border-radius: 1rem;

        font-weight: 700;
        cursor: pointer;

        &:hover{
            background-color: #79f5b9;
        }
      }
    }
  }
}
