.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 1.25rem 1.95rem;
    height: 3.75rem;

    max-width: max-content;
    background-color: var(--color-black);
    color: var(--color-white);

    text-transform: uppercase;
    letter-spacing: 0.135rem;
    font-family: var(--font-secondary);
    font-size: 1.125rem;
    font-weight: 500;
}