* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  ul,
  ol {
	list-style: none;
  }
  
  a {
	text-decoration: none;
  }
  
  button {
	cursor: pointer;
	background-color: transparent;
	border: none;
  }
  
  input,
  select,
  textarea {
	background-color: transparent;
	border: none;
  }
  
  img {
	max-width: 100%;
  }